*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/*Parte del home del sistema*/
.custom-card {
    max-width: 550px;
    margin: auto;
}

.custom-card > .card-body{
    background-color: #E0EEFF;
    backdrop-filter: blur(10px);
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(51, 152, 206, 0.419), 0 6px 20px rgba(51, 152, 206, 0.419);
}

.video {
    width: 100%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #123A6B;
}

.informacion > .card{
    margin-top: 18px;
    border: solid 2px grey;
    border-radius: 4px;
}

.informacion >.card > .card-body> .card-title{
    text-align: left;
    color: rgb(126, 121, 121);
}

.informacion >.card > .card-body>  p{
    text-align: justify;
}

.informacion >.card > .card-body{
    background-color: white;
    font-size: 16px;
}

/*Parte del modo minerva de este style*/
.fondos .custom-card > .card-body{
    background-color: #f5f7fa;
}

.fondos .video {
    border: 2px solid #660D04;
}

