/* Body*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* Contenedor principal de la vista*/
.container-fluid{
    margin-top: 30px;
    width: 100%;
}

.title{
    margin-top: 10px;
}
.title > h2{
    color: rgb(91, 90, 90);
}

/* Contenedor de las opciones*/
.contentInventario {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.opcionesInventario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

/* Parte de las opciones*/
.col {
    width: 100%;
}

.col p {
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(81, 80, 80);
}

.form-select, .ActivoFijo {
    width: calc(100% - 300px);
    padding: 10px;
    border: 1px solid #9d9c9c;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-select:focus, .ActivoFijo:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    font-weight: 600;
}

.btn-danger {
    background-color: #b01919;
    color: #fff;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 6px;
    border: none #b01919;
    font-weight: 600;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}





