/* Responsive para laptops */
@media (max-width: 1920px) {
    .contenido {
        width: calc(100% - 200px);
        padding: 50px;
        left: 100px;
    }
    .datos {
        width: calc(100% - 20px);
    }

    #content{
        width: 100%;
    }
}

@media (max-width: 1024px){

    /* Menu Vertical */
    .menuVertical {
        width: 255px;
        z-index: 2;
    }

    .logo_title{
        font-size: 1.30rem;
    }

     /* Nav Horizontal */
    .container {
        width: calc(100% - 200px);
        left: 200px;
    }

    .container > .navHorizontal{
        height: 50px;
        width: 100%;
        z-index: 1;
    }

    .navHorizontal > ul > li {
        height: 42px;
    }

    .navHorizontal > ul > li > a .fa-solid {
        min-width: 50px;
        height: 50px;
        line-height: 50px;
    }

     /* Contenido  del panel */

    .contenido {
        width: calc(100% - 200px);
        left: 200px;
        padding: 50px;
    }
}

/* Responsive para tablets */
@media (max-width: 768px) {

    /* Menu Vertical */
    .menuVertical {
        width: 165px;
        z-index: 2;
    }

    .logo_container{
        display: grid;
        grid-template-columns: 300px;
        gap: 10px;
        justify-items: start;
        align-items: center;

    }

    .logo_container > .logo{
        justify-self: start;
        align-self: center;
        margin-left: 40px;
    }

    .logo_title{
        font-size: 1rem;
        justify-self: start;
        align-self: center;
    }

     /* Nav Horizontal */
    .container {
        width: calc(100% - 150px);
        left: 150px;
    }

    .container > .navHorizontal{
        height: 50px;
        width: 100%;
        padding: 0 5px;
        z-index: 1;
    }

    .navHorizontal > ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navHorizontal > ul > li {
        padding: 5px;
        height: auto;
    }

    .navHorizontal > ul > li > a .fa-solid {
        min-width: 40px;
        height: 40px;
        line-height: 40px;
    }

    a > .title {
        height: auto;
        line-height: normal;
    }

    /* Contenido  del panel */
    .contenido {
        width: calc(100% - 150px);
        left: 150px;
        padding: 30px;
    }

    .datos {
        width: 90%;
        padding: 20px;
    }

    h1 {
        padding: 10px;
    }
}
