.carousel-Principal{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.carousel-Principal .list .item{
    position: absolute;
    inset: 0 0 0 0;
}

.carousel-Principal .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(55%);
}

.carousel-Principal .list .item .content{
    position: absolute;
    top: 25%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%);
    padding-right: 30% ;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 50px 10px #0004;
}

.carousel-Principal .list .item .content .title{
    font-weight: bold;
    font-size: 4em;
    list-style: 1.3em;
}

.carousel-Principal .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel-Principal .list .item .content button{
    border: none;
    background-color: #eee;
    font-weight: 500;
    border-radius: 8px;
}

.content button a{
    text-decoration: none;
}

.carousel-Principal .list .item .content button:nth-child(2){
    background-color: transparent;
    color: #eee;
    border: 1px solid #eee;
}

/*thumbnail*/
.thumbnail{
    position: absolute;
    bottom: -80px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 160px;
    height:260px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 84%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}


/*Arrows*/
.arrows{
    position: absolute;
    top: 70%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}

.arrows button:hover{
    background-color: #eee;
    color: #555;
}

.carousel-Principal .list .item:nth-child(1){
    z-index: 1;
}

.carousel-Principal .list .item:nth-child(1) .title,
.carousel-Principal .list .item:nth-child(1) .des,
.carousel-Principal .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel-Principal .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}

.carousel-Principal .list .item:nth-child(1) .des{
    animation-delay: 1.6s;
}

.carousel-Principal .list .item:nth-child(1) .buttons{
    animation-delay: 1.8s;
}

/* effect next click*/
.carousel-Principal.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel-Principal.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to{
        width: 150px;
    }
}

.carousel-Principal.next .thumbnail {
    transform: translateX(150px);
    animation: trasformThumbnail .5s linear 1 forwards;
}

@keyframes trasformThumbnail{
    to{
        transform: translateX(0);
    }
}

/* effect prev click*/
.carousel-Principal.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel-Principal.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel-Principal.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel-Principal.prev .list .item:nth-child(2) .title,
.carousel-Principal.prev .list .item:nth-child(2) .des,
.carousel-Principal.prev .list .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;

}

@keyframes contentOut {
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel-Principal.next .arrows button,
.carousel-Principal.prev .arrows button{
    pointer-events: none;
}

/*time*/
.time{
    width: 0%;
    height: 5px;
    background-color: #f1683a;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel-Principal.next .time,
.carousel-Principal.prev .time{
    width: 100%;
    animation: timeRunnig 2s linear 1 forwards;
}

@keyframes imeRunnig {
    to{
        width:0 ;
    }
}

/*Responsive*/
@media screen and (max-width: 678px) {

    .carousel-Principal .list .item .content{
        top: 10%;
    }
    .carousel-Principal .list .item .content{
        padding-right: 0;
    }

    .carousel-Principal .list .item .content .title{
        font-size: 30px;
    }

}
